.package {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    margin: 40px 0 40px 0;
}

.package div {
    background: url("../Images/books_bg.png") no-repeat fixed top center;
    background-size: 100%;
    border-radius: 10px;
    border: 1px solid gray;
}